@use '@angular/material'as mat;
@include mat.core();
$mist-primary-palette: (50: #e0f8f7, 100: #b3edeb, 200: #82e1e0, 300: #50d4d5, 400: #29cace, 500: #00c1c9, 600: #00b1b7, 700: #009b9e, 800: #018787, 900: #05635e, contrast: (50: rgba(black, 0.87), 100: rgba(black, 0.87), 200: rgba(black, 0.87), 300: rgba(black, 0.87), 400: rgba(black, 0.87), 500: rgba(black, 0.87), 600: rgba(black, 0.87), 700: white, 800: white, 900: white));
$mist-accent-palette: (50: #f1f8e5, 100: #ddedbf, 200: #c5e195, 300: #add669, 400:#99cd43, 500: #86c410, 600: #76b403, 700: #60a000, 800: #4a8d00, 900: #1a6b00, contrast: (50: rgba(black, 0.87), 100: rgba(black, 0.87), 200: rgba(black, 0.87), 300: rgba(black, 0.87), 400: rgba(black, 0.87), 500: rgba(black, 0.87), 600: rgba(black, 0.87), 700: white, 800: white, 900: white));
$mist-warn-palette: (50: #f9e7e9, 100: #f0c3c5, 200: #d58a86, 300: #c05e5a, 400: #c33d35, 500: #c02918, 600: #b31f18, 700: #a31514, 800: #960d0d, 900: #870101, contrast: (50: rgba(black, 0.87), 100: rgba(black, 0.87), 200: rgba(black, 0.87), 300: rgba(black, 0.87), 400: white, 500: white, 600: white, 700: white, 800: white, 900: white));
$mist-primary: mat.define-palette($mist-primary-palette, 800, 300, 900);
$mist-accent: mat.define-palette($mist-accent-palette, 800, 300, 900);
$mist-warn: mat.define-palette($mist-warn-palette, 800, 300, 900);
$mist-theme: mat.define-light-theme((color:(primary:$mist-primary, accent: $mist-accent, warn: $mist-warn)));
@include mat.all-component-themes($mist-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: #eee;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.key {
    color: #a52a2a !important;
}

span.string {
    color: #000080;
}

span.number {
    color: #008000;
}

span.boolean {
    color: #0000ff;
}

span.null {
    color: #00008b;
}

app-root {
    height: 100vh;
    display: block;
}

mat-form-field {
    margin-bottom: -25px;
}

.mdc-checkbox__background:enabled {
    background-color: #0096a4 !important;
    border-color: #0096a4 !important;
}

.mdc-list-item__primary-text {
    font-size: small !important;
}

info {
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    .text {
        line-height: 25px;
        samp {
            background-color: whitesmoke;
            padding: 4px;
            border-radius: 5px;
            border: 1px solid silver;
        }
    }
    .dialog {
        .mat-mdc-tab-body {
            padding: 1em;
        }
    }
}