<!-- Toolbar -->
<div class="toolbar" role="banner" class="banner">
    <div class="logo">
        <img src="images/juniper.png" />
        <div>
            Switch Configuration Converter
        </div>
    </div>
    <div class="help">
        <img src="images/ico_help.svg" (click)="openInfo()" />
    </div>
</div>

<div class="content" role="main">
    <!-- INPUT -->
    <div *ngIf="config_files.length==0" style="height: calc(100vh / 20)"></div>
    <div class="files" [class.dragover]="dragover">
        <div class="list" *ngIf="config_files.length > 0">
            <h2>
                <span>
                    Processed files
                </span>
                <div [class.enabled]="files.selectedOptions.selected.length > 0" (click)="removeConfigFile()">
                    <mat-icon>delete_forever</mat-icon>
                </div>
            </h2>
            <mat-selection-list #files (selectionChange)="selectFile($event)">
                <mat-list-option color="primary" *ngFor="let file of config_files" [value]="file">
                    <div class="file-container">
                        <div class="fileformat" [ngClass]="file.format.toLowerCase()">{{file.format}}</div>
                        <div class="filename">{{file.name}}</div>
                        <img *ngIf="file.format=='Unknown'" src="images/ico_error.svg" class="error" [matTooltip]="file.error_message" />
                        <img *ngIf="file.format != 'Unknown' && (!file.success_config || !file.success_vlan)" src="images/ico_warning.svg" class="warning" [matTooltip]="file.error_message" />
                        <img *ngIf="file.success_config && file.success_vlan" src="images/ico_success.svg" class="success" matTooltip="Configuration file processed" />
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="drops" [class.dragover]="dragover" dropContainer>
            <input type="file" #dropsRef id="dropsRef" multiple (change)="onFilechange($event)" />
            <div>
                <mat-icon class="drop_icon" aria-label="drop files">post_add</mat-icon>
            </div>
            <h3>Drop your configuration files here</h3>
            <h3>or</h3>
            <button for="dropsRef" mat-raised-button color="primary">Browse your Files</button>
        </div>
    </div>
    <!-- DISCLAIMER -->
    <div class="info" *ngIf="config_files.length == 0">
        <div class="disclaimer">
            <div>
                {{disclaimer}}
            </div>
        </div>
        <div class="source">
            <a *ngIf="github_url" href={{github_url}} target="_blank"><img src="images/github.png"></a>
            <a *ngIf="docker_url" href={{docker_url}} target="_blank"><img src="images/docker.png"></a>
        </div>
    </div>
    <!-- PROCESSIN -->
    <div *ngIf="config_files.length > 0 && !config_parser.process_done">
        <mat-divider></mat-divider>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>


    </div>
    <!-- RESULT -->
    <div class="result" *ngIf="config_parser.process_done">
        <mat-divider></mat-divider>
        <div class="header">
            <div class="warning">
                <div>
                    Please validate the generated configuration.
                </div>
                <div>
                    Passwords from the configuration files were replaced with "to_be_replaced".
                </div>
            </div>
            <div class="export">
                <mat-form-field>
                    <mat-label>Template name</mat-label>
                    <input matInput [(ngModel)]="config_parser.mist_template.name" (change)="display()">
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="save()">Download</button>
            </div>
        </div>
        <div class="template" [class.show_logs]="show_logs">
            <pre><code class="raw" [innerHtml]="mist_config_html"></code></pre>
        </div>
    </div>
</div>

<div class="logs" *ngIf="log_messages.length>0">
    <button mat-raised-button color="primary" (click)="toggleLogs()" *ngIf="!show_logs">Show Logs</button>
    <button mat-raised-button color="primary" (click)="toggleLogs()" *ngIf="show_logs">Hide Logs</button>
    <div [class.show_logs]="show_logs" class="messages">
        <table mat-table [dataSource]="log_messages">
            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef> Level </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="element.level">{{element.level}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef> Message </th>
                <td mat-cell *matCellDef="let element"> {{element.message}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="log_columns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: log_columns;"></tr>
        </table>
    </div>
</div>