.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    img {
        height: 3em;
    }
    .logo {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        font-weight: 100;
        color: gray;
    }
    .help {
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 800px;
    max-height: calc(100vh - 42px);
    padding: 1em;
    .files {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 15em;
        user-select: none;
        cursor: default;
        .list {
            width: 45%;
            margin: auto;
            display: flex;
            flex-direction: column;
            max-height: 208px;
            background: white;
            border: 1px solid lightgray;
            border-radius: 10px;
            h2 {
                padding: 0 1em;
                border-bottom: 1px solid lightgray;
                background-color: #eeeeee;
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                div {
                    height: 1.5em;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-right: .6em;
                    color: gray;
                    transition: color .2s ease-in-out;
                }
                div.enabled {
                    cursor: pointer;
                    color: black;
                }
                div.enabled:hover {
                    color: #e80000;
                }
            }
            mat-selection-list {
                height: 200px;
                overflow-y: scroll;
            }
            mat-list-option {
                padding: 0 0 0 1em;
                height: 2em;
            }
        }
        .drops {
            background: white;
            margin: auto;
            width: 40%;
            min-width: 200px;
            height: 150px;
            padding: 2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: dashed 1px gray;
            position: relative;
            border-radius: 20px;
            transition: opacity 0.1s ease-in-out;
            transition: background-color 0.1s ease-in-out;
            input {
                opacity: 0;
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                cursor: pointer;
            }
            label {
                color: wheat;
                width: 180px;
                height: 40px;
                border-radius: 20px;
                background-color: lightgray;
                padding: 8px 16px;
            }
            h3 {
                font-size: 15px;
                font-weight: 600;
            }
            .click {
                background-color: #0096a4;
                color: white;
                padding: .2em .5em;
                border-radius: 15em;
                border: 1px solid lightgray;
            }
            .drop_icon {
                color: black;
            }
        }
    }
    .info {
        margin: 5em;
        .disclaimer {
            width: 50em;
            text-align: center;
            text-transform: uppercase;
            font-family: Roboto, "Helvetica Neue", sans-serif;
            font-weight: 100;
            font-size: smaller;
            margin: 5em auto;
        }
        .source {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .source img {
            margin: 1em;
            height: 2em;
        }
    }
    .result {
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .export {
                display: flex;
                align-items: center;
                width: 24em;
                justify-content: space-between;
            }
        }
        .warning {
            font-size: smaller;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #c33d35;
            padding: .5em;
            border-radius: 5px;
            color: #c33d35;
        }
        .template {
            width: 100%;
            margin: auto;
            height: calc(100vh - 3em - 360px);
            transition: height .5s ease-in-out;
        }
        .template.show_logs {
            height: calc(100vh - 3em - 360px - 20vh);
        }
    }
}

pre {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    background-color: whitesmoke;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px 20px;
    color: darkslateblue;
    overflow: auto;
    height: 100%;
    code {
        font-size: small;
        line-height: 1.5em;
    }
}

mat-divider {
    margin: 1em;
}

.logs {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .button {
        cursor: pointer;
        width: 7em;
        background-color: #0096a4;
        color: white;
        padding: .5em;
        border-radius: 5px 5px 0 0;
        border: 1px solid lightgray;
        display: flex;
        justify-content: center;
        user-select: none;
    }
    button {
        margin-right: 1em;
        font-size: smaller;
        width: 10em;
    }
    .messages {
        width: 100%;
        height: 0px;
        overflow: auto;
        background-color: white;
        transition: height .5s ease-in-out
    }
    .messages.show_logs {
        height: 20vh;
        max-height: 20vh;
    }
    .mdc-data-table__header-row {
        height: 2em;
    }
    .mdc-data-table__row {
        height: 1.2em;
        td {
            font-size: small;
        }
    }
    .info {
        color: green;
    }
    .warning {
        color: orange;
    }
    .error {
        color: red;
    }
    .critical {
        color: purple;
    }
}

.dialog {
    .mat-mdc-raised-button {
        background-color: #0096a4 !important;
        color: white;
    }
}